#items {
  position: absolute;
  top: 0;
  left: 0;
  width: 4vw;
  height: 4vw;
  font-family: arial;
  margin: 5vw
}
#items div {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
#items div * {
  position: absolute;
  top: 100%;
  left: -100%;
  width: 300%;
  text-align: center;
  font-weight: bold;
  background: none;
  border: none;
}
#items div.client {
  background-image: url(quek.gif);
}
#items div.bomb {
  background-image: url(bomb.png);
}
#items div.fire {
  background-image: url(fire.jpg);
  background-repeat: repeat;
  border-radius: 5vw;
}
